[submodule "apps/sophia-ai-factory"]
	path = apps/sophia-ai-factory
	url = https://github.com/longtho638-jpg/sophia-ai-factory.git
[submodule "apps/84tea"]
	path = apps/84tea
	url = https://github.com/longtho638-jpg/84tea.git

[submodule "apps/apex-os"]
	path = apps/apex-os
	url = https://github.com/longtho638-jpg/apex-os.git

[submodule "claudekit-engineer-dna"]
	path = claudekit-engineer-dna
	url = https://github.com/claudekit/claudekit-engineer.git

[submodule "apps/com-anh-duong-10x"]
	path = apps/com-anh-duong-10x
	url = https://github.com/PHIHOANG160314/COM-ANH-DUONG.git

[submodule "apps/anima119"]
	path = apps/anima119
	url = https://github.com/longtho638-jpg/anima119.git

