@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-primary: #005ac1;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #d8e2ff;
  --md-sys-color-on-primary-container: #001a41;
  --md-sys-color-secondary: #575e71;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #dbe2f9;
  --md-sys-color-on-secondary-container: #141b2c;
  --md-sys-color-tertiary: #715573;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #fbd7fc;
  --md-sys-color-on-tertiary-container: #29132d;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #fdfbff;
  --md-sys-color-on-background: #1a1b1e;
  --md-sys-color-surface: #fdfbff;
  --md-sys-color-on-surface: #1a1b1e;
  --md-sys-color-surface-variant: #e1e2ec;
  --md-sys-color-on-surface-variant: #44474f;
  --md-sys-color-outline: #74777f;

  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-extra-large: 28px;
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
